.mainBox {
    height: 100px;
    background-color: rgb(47, 66, 34);
    color: yellow;
    display: flex;


}

.headLink {
    color: yellow;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    height: 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sideBox {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

a {
    margin-left: 10px;
    color: rgb(231, 241, 149);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.subHeading {
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}